@import "tailwindcss";

@theme {
  --color-primary-dim: #8a95ff;
  --color-primary-fixed-dim: #747fea;
  --color-on-error: #490013;
  --color-surface-container: #0a1836;
  --color-surface-variant: #11244c;
  --color-on-secondary: #3e3e52;
  --color-on-tertiary-fixed: #4c2f52;
  --color-primary-container: #3c47af;
  --color-tertiary: #fedeff;
  --color-inverse-on-surface: #4d556b;
  --color-on-secondary-fixed-variant: #5a5a6f;
  --color-secondary-fixed-dim: #d4d2eb;
  --color-surface: #060e20;
  --color-on-primary: #28329c;
  --color-surface-dim: #060e20;
  --color-inverse-surface: #faf8ff;
  --color-on-tertiary-fixed-variant: #6a4b70;
  --color-error-dim: #c44b5f;
  --color-on-secondary-fixed: #3d3e51;
  --color-outline: #6475a1;
  --color-tertiary-container: #f5cdf9;
  --color-on-primary-fixed: #000000;
  --color-on-secondary-container: #bebdd5;
  --color-surface-container-highest: #11244c;
  --color-surface-container-high: #0f1e3f;
  --color-error-container: #871c34;
  --color-surface-container-lowest: #000000;
  --color-tertiary-fixed-dim: #e7bfea;
  --color-on-primary-container: #e0e1ff;
  --color-tertiary-dim: #e7bfea;
  --color-on-error-container: #ff97a3;
  --color-background: #060e20;
  --color-secondary-dim: #b8b6cf;
  --color-tertiary-fixed: #f5cdf9;
  --color-secondary: #c6c4dd;
  --color-on-primary-fixed-variant: #000979;
  --color-secondary-fixed: #e2e0f9;
  --color-on-surface: #dee5ff;
  --color-inverse-primary: #4954bc;
  --color-secondary-container: #393a4d;
  --color-primary: #bdc2ff;
  --color-outline-variant: #364770;
  --color-surface-tint: #bdc2ff;
  --color-on-tertiary: #694a6f;
  --color-on-surface-variant: #99aad9;
  --color-surface-container-low: #06122c;
  --color-primary-fixed: #818cf8;
  --color-surface-bright: #182b52;
  --color-on-tertiary-container: #604266;
  --color-on-background: #dee5ff;
  --color-error: #f97386;

  --font-headline: "Inter", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #060e20;
  color: #dee5ff;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hero-gradient {
  background: linear-gradient(135deg, #bdc2ff 0%, #3c47af 100%);
}
